.main{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title{
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin: 2rem;
  color: white;
  text-shadow: 1.2rem 1.2rem 1rem rgba(177, 174, 174, 0.6); 
}
.select_wrap{
  width: 90%;
  margin: 1rem auto;
}
.select_wrap p{
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 1.3;
  color: white;
}

@media (max-width: 820px) {
  .main{
    padding-top: 5rem;
  }
}