.sheets{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sheet{
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  border-radius: .7rem;
  background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(4px);
  gap: 1rem;
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    0.2rem 0.2rem 1.4rem rgba(0, 0, 0, 0.6);
   
}
.sheet h2{
  font-size: 1.7rem;
 font-weight: 600;
}
.sheet_result{
  border: 2px solid red;
  position: relative;
  border-radius: 5px;
  
}
@media (max-width: 820px) {
  .sheet{
    width: 100%;
  }
}