.main{
  width: 90%;
  margin: 2rem auto;
}
.title{
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin: 2rem;
  color: white;
  text-shadow: 1.2rem 1.2rem 1rem rgba(116, 115, 115, .6); 
}
.task_section{
  padding: 1rem;
  background: rgba(255, 255, 255, 0.651);
  backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: .8rem;
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.3),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.4),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  margin: 1rem;
}

.section_title{
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.task_list{
  font-size: 1.8rem;
}
.task_list_item{
  margin-bottom: 1rem;
}
.wrapper_btns{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.task_list_item li{
  line-height: 1.3;
  margin: .5rem 2rem;
}
.task_list_item h3{
  font-weight: 500;
}
.task_list_item p{
  line-height: 1.3;
  margin: .5rem 2rem 1rem .5rem;
}
.link{
  padding: 1rem;
  color:rgb(12, 58, 211) ;
  border-bottom: 1px solid rgba(72, 72, 240, 0);
  transition: all .3s;
}
.link:hover{
  color:rgb(9, 53, 197) ;
  border-bottom: 1px solid rgb(9, 53, 197);
}
.btn{
  box-shadow:
    inset .1rem .1rem .1rem rgba(255, 255, 255, 0.2),
    inset -.1rem -.1rem .1rem rgba(88, 32, 4, 0.3),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.4);
}

@media (max-width: 820px) {
  .main{
    padding-top: 4rem;
  }
  .btn_text{
    display: none;
  }
}