.block{
  border-radius: .3rem;
  background: rgb(100, 168, 10);
  color: white;
  padding: .3rem .5rem;
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  transition: all 2s;
  opacity: 1;
}