.modal{
 font-family: var(--font-roboto);
}
.title{
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}
.form_group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  margin: 1rem;
}
.form{
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.input{
  font-size: 2rem;
}
.input_error{
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.226);
}
.label{
  font-size: 1.5rem;
}
.label_error{
  color: red;
}

.foter{
  justify-content: space-between;
}
.block{
  border-radius: .3rem;
  background: rgb(100, 168, 10);
  color: white;
  font-size: 1rem;
  padding: .3rem .5rem;
  margin-left: 10%;
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  transition: all 2s;
  opacity: 1;
}