.main{
  width: 90%;
  margin: 2rem auto;
}
.error_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
    border-radius: .7rem;
  background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(4px);
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    0.2rem 0.2rem 1.4rem rgba(0, 0, 0, 0.6);
  color: red;
}
.error_content h1{
  font-weight: 600;
  text-shadow: 1.2rem 1.2rem 1rem rgba(116, 115, 115, .6); 
}
.error_content p{
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 1.2rem 1.2rem 1rem rgba(116, 115, 115, .6); 
}
.link{
  font-size: 2rem;
  font-weight: 500;
  color: rgb(7, 40, 151);
  padding: 1rem 0.2rem;
  transition: all .4s;
  border-bottom: 1px solid rgba(83, 91, 242, 0);
  text-shadow: 1.2rem 1.2rem 1rem rgba(116, 115, 115, .6); 
}
.link:hover{
  color: rgb(9, 53, 197);
  border-bottom: 1px solid rgb(9, 53, 197);
}