.select{
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 1.8rem;
  font-weight: 500;
  opacity: .6;
  cursor: pointer;
}
@media (max-width: 380px) {
  .select{
    font-size: 1.5rem;
  }
}