.list{
  width: 90%;
  margin: 1rem;
  font-weight: 600;
}
.list_item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-radius: .5rem;
  padding: .5rem 1rem;
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.3),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.4),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
}
.block{
  border-radius: .3rem;
  background: rgb(100, 168, 10);
  color: white;
  font-size: 1rem;
  padding: .3rem .5rem;
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  transition: all 2s;
  opacity: 1;
}
.btn{
  box-shadow:
    inset .1rem .1rem .1rem rgba(255, 255, 255, 0.2),
    inset -.1rem -.1rem .1rem rgba(88, 32, 4, 0.3),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.4);
  transition: all .3s;
  margin: .5rem;
}
@media (max-width: 820px) {
  .list_item{
    flex-direction: column;
  }
  .btn{
    box-shadow:
      inset .1rem .1rem .1rem rgba(255, 255, 255, 0.2),
      inset -.1rem -.1rem .1rem rgba(88, 32, 4, 0.3),
      1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.4);
    transition: all .3s;
    margin: .5rem auto;
    display: block;
  }
}