.header{
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(4px);
}
.header_wrap{
  padding: 1% 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-family: var(--font-Kalam);
  font-style: italic;
  font-size: 5rem;
  font-weight: 600;
  text-shadow: 1.2rem 1.2rem 1rem rgba(116, 115, 115, .6); 
}
.logo_yllow{
  display: inline-block;
  color: yellow;
}
.logo_blue{
  display: inline-block;
  color: rgb(32, 103, 255);
}

.nav_list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.link{
  font-size: 2rem;
  font-weight: 500;
  color: black;
  padding: 1rem 0.2rem;
  transition: all .4s;
  border-bottom: 1px solid rgba(83, 91, 242, 0);
  text-shadow: 1.2rem 1.2rem 1rem rgba(116, 115, 115, .6);
  transition: all .3s; 
}
.link:hover{
  color: rgb(9, 53, 197);
  border-bottom: 1px solid rgb(9, 53, 197);
}
.active{
  color: rgb(9, 53, 197);
  border-bottom: 1px solid rgb(9, 53, 197);
}
.btn_menu{
  background: none;
  display: none;
  border: 1px solid black;
  opacity: .8;
  transition: all.3s;
}
.btn_menu_icon{
  line-height: 1;
 font-size: 2.8rem;
 font-weight: 600;
}
.btn_menu:hover{
  border: 1px solid black;
  opacity: 1;
}

@media (max-width: 820px) {
  .header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .logo{
    font-size: 3.5rem; 
  }
  .btn_menu{
    display: flex;
  }
  .nav_list{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 3rem;
    transform: translateY(-120%);
    z-index: 2;
    transition: all 1s;
  }
  .nav_list._activ{
    transform: translateY(0);
  }
  body .nav_list._activ {
      overflow: hidden;
  }
  .link{
    color: white;
  }
  .link:hover{
    color: rgb(190, 194, 255);
    border-bottom: 1px solid rgb(190, 194, 255);
  }
  .active{
    color: rgb(190, 194, 255);
    border-bottom: 1px solid rgb(190, 194, 255);
  }
}