@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@700&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 скидання ролей дисплея для старих браузерів */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: none;
	outline: none;
}

/* Змінні */
:root{
  --font-Kalam: 'Kalam', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  font-size: 10px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
  display: inline-block;
  font-style: normal;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  max-width: 166rem;
  min-width: 32rem;
}
.hiden{
  overflow: hidden;
}
.main-page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f9f9fa;
  font-family: var(--font-roboto);
  font-size: 1.5rem;
  background: linear-gradient(90deg, rgba(12, 12, 12, 0.4) 20%, rgba(0, 0, 0, 0.4)), url('../image/background-page.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

@keyframes block {
  from {
    opacity: 0.2;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-roboto);
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  opacity: 1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  opacity: 1;
}

@media (max-width: 380px) {
  :root{
    font-size: 8px;
  }
}