.footer{
  padding: 2rem 0;
  margin-top: 2rem;
  background: rgba(233, 230, 230, 0.45);
  backdrop-filter: blur(4px);
  font-size: 1.6rem;
  font-weight: 600;
}
.footer_wrapper{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link{
  color: black;
  transition: all .3s;
}
.link:hover{
  color: rgb(9, 53, 197);
  text-decoration: underline;
}
@media (max-width: 350px) {
  .footer_wrapper{
    flex-direction: column;
    gap: 1rem;
  }
}